[submodule "thirdparty/Q"]
	path = thirdparty/Q
	url = git@github.com:cycfi/q.git
[submodule "thirdparty/kfr"]
	path = thirdparty/kfr
	url = git@github.com:kfrlib/kfr.git
	branch = main
[submodule "thirdparty/SPSCQueue"]
	path = thirdparty/SPSCQueue
	url = git@github.com:rigtorp/SPSCQueue.git
